<!DOCTYPE html>
<html lang="en">
<%- include('partials/header')%>
<body>
    <%- include('partials/navbar')%>
    
    <div class="view-wrapper">
       
        <h1><%= character.name %></h1>
        <p class = 'description'><%= character.description %></p>
         <button class = 'world'><strong> <%=character.world %></strong></button>
        <p class = 'creator'><strong>Created by <%=character.creator %></strong></p>
    </div>
    <div class = 'view-btn-container'>
        <button class = 'primary-btn'><a href="/characters/character/<%= character.id %>/edit">Edit</a></button>
        <form method = 'POST' action="/characters/character/<%= character.id %>/delete"><button type = 'submit' class = 'primary-btn'>Delete</button></form>
      <button class = 'primary-btn'><a href="/characters">Back</a></button>
    </div>
</body>
</html>