<!DOCTYPE html>
<html lang="en">
<%- include('partials/header')%>
<body>
    <%- include('partials/navbar')%>
    <div class="top-wrapper">
        <form action="/characters" method = 'GET'>
            <input type="text" name = "name" value = '<%= name %>''>
            <select id="world-select" name="world">
                <option value="all"
                <%= selectedWorld? "": 'selected' %>
          
                >All</option>
       
        <% worlds.forEach((world) => {%>
        <option value="<%= world.id %>"
             <%= Number(selectedWorld) == Number(world.id)? 'selected': '' %>>
            <%= world.name %></option>
            <% }) %>
            
         </select>
         <button class = 'primary-btn' type = 'submit'>Search</button>
        </form>
            <button class = 'primary-btn create-btn'><a href="/characters/new">Create New Character</a></button>
    </div>
       <% if(!characters.length){%>
            <p class = 'not-found-msg'>No Characters Found</p>
        <%}%>
     <div class="grid-wrapper">
     
        <div class="characters-grid">
            <% characters.forEach((c) => { %>
                <a href = "/characters/character/<%= c.id %>">
                    <div class = 'character-box'>
                        <h1><%= c.name %></h1>
                        <p><%= c.world %></p>
                    </div>
                </a>
            <% }) %>
        </div>
    </div>
</body>
</html>