<!DOCTYPE html>
<html lang="en">
<%- include('partials/header')%>
<body>
    <%- include('partials/navbar')%>
    
    <div class="view-wrapper">
        <h1><%= world.name %></h1>
        <p class = 'description'><%= world.description %></p>
        <p class = 'creator'><strong>Created by <%=world.creator %></strong></p>
    </div>
    <div class = 'view-btn-container'>
        <button class = 'primary-btn'><a href="/worlds/world/<%= world.id %>/edit">Edit</a></button>
        <form method = 'POST' action="/worlds/world/<%= world.id %>/delete"><button type = 'submit' class = 'primary-btn'>Delete</button></form>
        <button class = 'primary-btn'>View Characters</button>
        <button class = 'primary-btn'><a href="/worlds">Back</a></button>
    </div>
</body>
</html>